@tailwind base;
@tailwind components;
@tailwind utilities;
hr{
    border-top: 1px solid black;
}
body{
    margin:0;
    background-color:#F6FD8D;
  }
button{
    cursor:pointer;
}
.menu{
    /*margin:auto;*/
    display:flex;
    justify-content:center;
}
.div_tweet_form{
    position:relative;
    margin-top:10px;
    margin-left:10px;
}
.form_tweet_form{
    display:flex;
    flex-direction:column;
    max-width:100px;
}
.text_input{
    margin-bottom:10px;
}
.tweet_contenaire{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:16px;
    margin:10px;
}
.tweet{
    position:relative;
    width:fit-content;
    height:fit-content;
    min-width:100px;
    min-height:90px;
    border:2px solid black;
    padding:8px;
    background-color:#08eae7;
}
.div_like{
    position:absolute;
    left:2px;
    bottom:2px;
}
.div_delete{
    position:absolute;
    top:2px;
    right:2px;
}
.button_counter{
    margin-left:10px;
    margin-bottom:10px;
}
.affiche_counter{
    margin-left:10px;
}
.error{
    margin-left:10px;
    @apply text-red-600 font-bold
}
.button_3d{
    cursor:pointer;
    @apply  px-5 py-2 bg-gradient-to-b from-blue-500 to-blue-700 text-white font-bold rounded-lg 
            shadow-[0_4px_0_rgba(0,0,0,0.2)] border-b-4 border-blue-900
            active:translate-y-[2px] active:shadow-[0_2px_0_rgba(0,0,0,0.2)] 
            transition-all duration-150
}
.rotation{
    margin-left:10px;
    @apply w-10 h-10 animate-spin-slow
}