body{
    margin:0;
    background-color:#F6FD8D;
  }
.tweet_contenaire{
    display:flex;
    /*flex-direction:column;*/
    flex-wrap:wrap;
    gap:16px;
    margin:10px;
}
.tweet{
    width:fit-content;
    min-width:100px;
    border:2px solid black;
    padding:8px;
    background-color:#08eae7;
}